<!--Author: Yitong Chen, Megan Zhao, Eva Zhong-->
<!--This file creates the user account page of the website-->
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" content="width=device-width, initial-scale=1">
	<title> Page Name</title>
    <img class="displayed" src="{{ url_for('static', filename='logo.png')}}" alt="HTML5 Icon" style="width:200px;max-width: 100%;height: auto;">
	<link rel="stylesheet" href="../static/stylesheet_browsePage.css">

	<!--The log-in and search functions-->
<div id="function">
    <div id="login">
    <form action="User_login.html">
    <button type="submit" value="Log In">Log In</button>
</form>
</div>
<br>
	<button type="submit" style="width: 35px;height: 28px;border-radius: 5px;background: white; float: right;
opacity: 0.9;"> 🔍</button>
    <input id="search" type="text" name="search" value="" style="float:right;width:150px;height: 20px;border-radius: 8px;opacity: 0.6;
font-size: 14px;">
</div>
</head>

<style>
	.mySlides {display:none}
	.w3-left, .w3-right, .w3-badge {cursor:pointer}
	.w3-badge {height:13px;width:13px;padding:0}
</style>

<style type="text/css">
    .fieldset-auto-width {
         display: inline-block;
    }
</style>

<body>

<!--Global navigation by genre-->
<div id="navigation">
<ul id="navigation">
  <li id="category"><a href="#Sports">Sports</a></li>
  <li id="category"><a href="#Platform">Platform</a></li>
  <li id="category"><a href="#Racing">Racing</a></li>
  <li id="category"><a href="#Role-Playing">Role-Playing</a></li>
  <li id="category"><a href="#Puzzle">Puzzle</a></li>
  <li id="category"><a href="#Misc">Misc</a></li>
  <li id="category"><a href="#Shooter">Shooter</a></li>
  <li id="category"><a href="#Simulation">Simulation</a></li>
  <li id="category"><a href="#Fighting">Fighting</a></li>
  <li id="category"><a href="#Adventure">Adventure</a></li>
  <li id="category"><a href="#Strategy">Strategy</a></li>
  <li id="category"><a href="#Action">Action</a></li>
</ul>
</div>

<div id="content">
<h1><u>Page Name</u></h1>
<ul id="games">
<li><a href="#game1">game1</a></li><br>
<li><a href="#game2">game2</a></li><br>
<li><a href="#game3">game3</a></li><br>
<li><a href="#game4">game4</a></li><br>
<li><a href="#game5">game5</a></li><br>
<li><a href="#game6">game6</a></li><br>
<li><a href="#game7">game7</a></li><br>
<li><a href="#game8">game8</a></li><br>
<li><a href="#game9">game9</a></li><br>
</ul>
</div>
</body>

<footer style="position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  font-weight: bold">
<hr>
    <p >
	Contact us:
<a href="mailto:zhaom@carleton.com?Subject=Help" target="_top" style="font-size: 16px; color: black;text-align: center">Email Us</a>

</p>
</footer>

</html>
