<!--Author: Yitong Chen, Megan Zhao, Eva Zhong-->
<!--This file builds the user log-in page of the website-->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title> Game! Log In </title>
    <img class="displayed" src="../static/logo.png" alt="HTML5 Icon" style="width:300px;max-width: 100%;height: auto;">
	<link rel="stylesheet" href="../static/stylesheet_login.css">
</head>
<body>

<form action="action_page.php">
  <fieldset>
    <legend>Sign In</legend>
    <label for="username">Username:</label><br>
    <input type="text" name="username" value="">
    <br>
      <label for="password">Password:</label><br>
    <input type="text" name="password" value="">
    <br>
    
    <a href="forget_password.html">Forget Password?</a>
    <br>

    <input id="buttons" type="submit" value="Sign In">
    <br><br>
    <input id="buttons" type="submit" value="Create Account">
    <br>

    
  </fieldset>
</form>

</body>
</html>

