

body{
    font-family:sans-serif;
    color: black;
}

#other_recommended{
    text-align: justify;
}

#other_recommended img{
    display: inline-block;
    width: 25%;
    height: auto;
}

#other_recommended:after{
    content: '';
    display: inline-block;
    width: 20%;
}

#categorized_by{
    text-align: center;
}

#categorized_by fieldset{
    display: inline-block;
    height: auto;
}

#categorized_by:after{
    content: '';
    display: inline-block;
    width: 20%;
}

.clicktoleft, .clicktoright {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
.clicktoright {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.clicktoleft:hover, .clicktoright:hover {
  background-color: rgba(0,0,0,0.8);
}

legend{
    font-size: 25px;
    font-family:sans-serif;
}

.search{
	margin-left:40px;
}

#searchbox{
	width: 90%;
	height: 20px;
}
#searchsymbol{
	width: 3%;
}

#slideshowpic{
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  left: 20px;
}


input[type="radio"] {
    font-family: "sans-serif", Arial;
}

a{
    text-decoration: none;
}
