h2{
    margin-bottom: 10px;
}

#account p{
    font-size: 18px;
    margin-top: 10px;
}

#account input{
    opacity: 0.8;
    float: left;
}

fieldset{
    width: 150px;
    float: right;
    height:150px;
    background: #FFF8DC;
    opacity: 0.7;
    border-radius: 8px;

}

#product_info {
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    float: left;
    margin: 0 0 0 0;
    width: 728px;
    padding:0;
}

#sidebar{
    float:right;
    overflow: hidden;
    margin: 0 0 15px 0;
    position: absolute;
    top:200px;
    right: 10px;
}

aside{
    width: 100%;
}

div{
    display: block;
}

ul #similar_games{

    color: #000000;
}

ul #games_by_same_developer{
    color:black;
}

a{
    font-size: 15px;
}