
h2{
    margin-bottom: 10px;
}

section{
    width:100%;
}

#account p{
    font-size: 18px;
    margin-top: 10px;
}

#account input{
    opacity: 0.8;
}

#switch_account{
    float: right;
    top: 20px;
	font-size: 15px;
    font-family: sans-serif, 'Britannic Bold';
    width: 150px;
    height: auto;
    background: white;
    opacity: 0.8;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    border-radius: 8px;
    text-align: center;
    color: initial;
}

#my_favorite{
    color: #000000;
	list-style-type: none;
    width: 100%;
    overflow: hidden;
    font-family:sans-serif, 'Britannic Bold';
    opacity: 0.8;
    line_height: 15px;
    columns: 3;
}

#recommended_games{
    color: black;
    list-style-type: none;
    width: 100%;
    overflow: hidden;
    font-family:sans-serif, 'Britannic Bold';
    opacity: 0.8;
    line_height: 15px;
    columns: 3;
}