#games{
    color: black;
    list-style-type: none;
    width: 100%;
    overflow: hidden;
    font-size: 18px;
    text-align: center;
    opacity: 0.8;
    line_height: 15px;
    columns: 3;
}

#games{
    font-size: 22px;
}

footer{
    position: relative;
}