html {
  background: url("2d80718d3b30c497e99e99dc812931bb.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    background-opacity: 0.5;
}

#games{
    color: black;
    list-style-type: none;
    width: 100%;
    overflow: hidden;
    font-size: 18px;
    text-align: center;
    opacity: 0.8;
    line_height: 15px;
    columns: 3;
}