{% extends "basic.html" %}

{% block title %}
<title> Browsing </title>
{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='basic.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheet_browsePage.css')}}">
{% endblock %}

{% block content %}
    <div id="content">
        <h1><u>Page Name</u></h1>
        <!--Display the games-->
        <ul id="games">
            <li><a href="#game1">game1</a></li><br>
            <li><a href="#game2">game2</a></li><br>
            <li><a href="#game3">game3</a></li><br>
            <li><a href="#game4">game4</a></li><br>
            <li><a href="#game5">game5</a></li><br>
            <li><a href="#game6">game6</a></li><br>
            <li><a href="#game7">game7</a></li><br>
            <li><a href="#game8">game8</a></li><br>
            <li><a href="#game9">game9</a></li><br>
        </ul>
</div>
{% endblock %}

