{% extends "basic.html" %}

{% block title %}
<title> Log In </title>
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ url_for('static', filename='basic.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet_login.css')}}">
{% endblock %}

{% block functions %}
        <script type="text/javascript">
            function checkPassword() {
                var nameInput = document.getElementsByName("username");
                var passwordInput = document.getElementsByName("password");
                var url;
                var result_url = "{{ url_for('login')}}";

                var account_set = {'cheny2':'12345', 'zhonge':'678910', 'zhaom':'1112131415'}
                if (passwordInput == account_set[nameInput.value]) {
                    url = "{{url_for('accountHome', account_name = "NOTANAME")}}";
                    result_url = url.replace("NOTANAME", nameInput.value);
                }
                window.location = result_url;
            }
        </script>
{% endblock %}
<!--The log-in block-->

{% block global_navigation %}
{% endblock %}

{% block content %}
<div id="content">
<form action="action_page.php">
  <fieldset>
    <legend>Log In</legend>
    <label for="username">Username:</label><br>
    <input type="text" name="username" value=""><br>
      <label for="password">Password:</label><br>
    <input type="password" name="password" value=""><br>

    <a id="forget_pass" href="forget_password.html">Forget Password?</a><br>

      <button id="Sign In" onclick="checkPassword()"> Sign In </button>
    <br><br>
      <button id="Create Account"> Create Account </button>
    <br>
  </fieldset>
</form>
</div>
{% endblock %}