{% extends basic.html %}

{% block title %}
<title> Log In </title>
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ url_for('static', filename='basic.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet_login.css')}}">
{% endblock %}

{% block functions %}
{% endblock %}
<!--The log-in block-->

{% block global_navigation %}
{% endblock %}

{% block content %}
<div id="content">
<form action="action_page.php">
  <fieldset>
    <legend>Sign In</legend>
    <label for="username">Username:</label><br>
    <input type="text" name="username" value=""><br>
      <label for="password">Password:</label><br>
    <input type="text" name="password" value=""><br>

    <a href="forget_password.html">Forget Password?</a><br>

    <input id="buttons" type="submit" value="Sign In">
    <br><br>
    <input id="buttons" type="submit" value="Create Account">
    <br>
  </fieldset>
</form>
</div>
{% endblock %}