{% extends "basic.html" %}

{% block title %}
<title> Game! </title>
{% endblock %}

{% block stylesheet %}\
    <link rel="stylesheet" href="{{ url_for('static', filename='basic.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet_productPage.css')}}">
{% endblock %}

{% block content %}
    <div id="main_content">
        <h1>Game title</h1>
        <ul id="product_info">
            <li>Supported Platform:</li>
            <li>Year of Release:</li>
            <li>Genre:</li>
            <li>Publisher:</li>
            <li>Sale Record worldwide:</li>
            <li>Critique Score:
            <br><p id="score_count">（num of critiques:)</p> </li>
            <li>User Score:
            <br><p id="score_count"> (num of users:)</p></li>
            <li>Developer Info: </li>
            <li>ESBR Rating: </li>
        </ul>
    </div>

    <div id="sidebar">
        <aside>
        <div id="similar_games">
        <fieldset>
            <p style="font-size: 18px; font-weight: bold;">Similar Games:</p>
            <ul id="similar_games" >
                <li><a href="game1.html">game1</a></li>
                <li><a href="game2.html">game2</a></li>
                <li><a href="game3.html">game3</a></li>
            </ul>
        </fieldset>
        </div>
        <div id="games_by_same_developer">
            <fieldset>
                <p style="font-size: 18px; font-weight: bold;">Games by the same Deveopers:</p>
                <ul id="games_by_same_developer">
                    <li><a href="game1.html">game1</a></li>
                    <li><a href="game2.html">game2</a></li>
                    <li><a href="game3.html">game3</a></li>
                </ul>
            </fieldset>
        </div>
        </aside>
    </div>
{% endblock %}